<header class="cabecalho navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="cabecalho-logo" href="/">Logo.</a>
        <div class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <i class="cabecalho-botao-icone bi bi-list"></i>
        </div>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarTogglerDemo02"
            aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
                <i data-bs-dismiss="offcanvas" aria-label="Close" class="botao-fechar-navbar bi bi-x-lg"></i>
            </div>
            <div class="offcanvas-body">
                <nav class="cabecalho-nav navbar-nav justify-content-end flex-grow-1 pe-3">       
                    <a class="nav-link" href="/denuncia/registrar" aria-current="page">Cadastrar</a>
                    <a class="nav-link" href="/denuncia/consultar" aria-current="page">Consultar</a>
                    <a class="nav-link" href="/agente/novasDenuncias" aria-current="page">Denúncias Novas</a>
                </nav>
            </div>
        </div>
    </div>
</header>