<main>
    <div class="fundo-imagem">
        <div class="fundo-imagem-texto">
           <h1>Sistema de Cadastro de Crimes Ambientais</h1> 
           <p>O Sistema de Cadastro de Denúncia de Crimes Ambientais é um software de registro e acompanhamento de denúncias que facilita a denúncia anônima e o monitoramento de crimes ambientais em tempo real, conectando cidadãos e autoridades de forma prática e eficiente.</p>
        </div>
        
    </div>
</main>