.container-cadastro-agente{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cadastro-agente{
    width: 40%;
    margin-top: 40px;
}

.cadastro-agente-botao{
   display: flex;
   justify-content: center;
   margin-top: 40px;
}

.cadastro-agente-botao button{
    width: 100%;
}